

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post, :remote => true %></td>
             <td><%= link_to 'ajaxcall', ajaxcall_posts_path, :remote => true %></td>
        <td><%= link_to 'Edit', edit_post_path(post), :remote => true %></td>
        <td><%= link_to 'Destroy', post, method: :delete, :remote => true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="ajax">
<%= link_to 'New Post', new_post_path, :remote => true %>
</div>